*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: gold;
    height: 11vh;
    width: 100%;
    display: flex;
    gap: 2vw;
    justify-content: center;
}
.icon,.contactb,.homeb{
    width: 29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.contactb,.homeb{
    cursor: pointer;
}
.contactb:hover,.homeb:hover{
    color: #1c1e28;
}
.iconImg{
    width: 130%;
    padding-left: 5vw;
}
.footer{
    background-color: black;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.footerText{
    font-size: 4.5vw;
}
.containUpper{
    background-color: #1c1e28;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLower{
    background-color: #1c1e28;
    width: 100%;
    height: 50vh;
    padding-bottom: 4vw;
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5vh;
    position: relative;
}
.coverImg{
   width: 100%;
}
.searchBox{
    background-color: #1c1e28;
    width: 85%;
    position: absolute;
    z-index: 999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.8vh;
    padding: 2vh;
}
.fromBar,.toBar,.searchBar{
    background-color: #262837;
    width: 90%;
    height: 5vh;
    border-radius: 20px;
    border: 0.0001px solid rgb(94, 90, 90);
    transition:border-color 0.3s ease;
}
.fromBar,.toBar{
    color: white;
    padding-left: 30px;
}
.fromBar{
    background-image: url('/Assets/icon1.png');
    background-repeat: no-repeat;
    background-size: 3.7vh; 
}
.toBar{
    background-image: url('/Assets/icon2.png');
    background-repeat: no-repeat;
    background-size: 3.7vh;
}
.searchBar{
    cursor: pointer;
    width: 50%;
    background-color: gold; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #1c1e28;
}
.searchBar:active {
    background-color: #8f7510; 
}
.fromBar:hover,.toBar:hover{
    border: 0.0001px solid rgb(0, 0, 0);
}
.fromBar:focus,.toBar:focus {
    outline: none;
}
.switcher{
    cursor: pointer;
    background-color: #12131b;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    z-index: 9999;
    position: absolute;
    top: 20%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swapImg{
    width: 50%;
}
.switcher:active {
    background-color: #262837; 
}
#currentTime{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 800;
}
.time{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
}
.normal,.lux,.expLux{
    width: 87vw;
    background-color: #2e3039;
    height: 38%;
    border-radius: 20px;
    border: 0.0001px solid rgb(94, 90, 90);
}
