*{
    margin: 0;
    padding: 0;
}
.fullSize{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, darkblue, black);
}
.video-element{
    height: 100vh;
    object-fit: cover;
    opacity: 70%;
    width: 98.8vw;

}
.header{
    height: 13vh;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    display: flex;
    justify-content: right;
    column-gap: 10vw;
}
.header.visible {
    background-color: black; 
}
.homeb{
    width: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    align-self: last baseline;
    border: 2px solid transparent; 
    background-color:transparent;
    cursor: pointer;
}
.buttoneffect{
    width: auto;
    background-color: #ffd700;
    height: 2px;
    display: none;
}
.homeb:hover .buttoneffect,
.findrouteb:hover .buttoneffect,
.contactb:hover .buttoneffect {
        display: block;
}
.findrouteb{
    width: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    align-self: last baseline;
}
.contactb{
    width: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    align-self: last baseline;
    padding-right: 6vw;
    border: 2px solid transparent; 
    background-color:transparent;
    cursor: pointer;
}
.homeb, .findrouteb, .contactb {
        font-weight: normal; 
    }
.homeb:hover, .findrouteb:hover, .contactb:hover {
    font-weight: bold; 
}
.welcomeArea{
    height: 300px;
    background-color: white;
    opacity: 50%;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    row-gap: 25px;
    padding: 20px;
    border-radius: 2.9%;
    animation: blink 2s infinite alternate;

}

@keyframes blink {
  0% {
    opacity: 0.4; 
  }
  100% {
    opacity: 0.6; 
  }
}
.welcomeText{
    text-align: center;
    font-size: 2.8vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    overflow: hidden; 
    border-right: 0.1em solid black; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
.welcomeText2{
    text-align: center;
    font-size: 1.6vw;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
.nextb{
    background-color: gold;
    width: 5.9vw;
    height: 5.9vw;
    position: absolute;
    z-index: 999;
    margin-top: 340px;
    border-radius:50%;
    animation: moveUpDown 0.5s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;

}
@keyframes moveUpDown {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}
.search{
    width: 5vw;
}
.awsLogo{
    width: 400px;
    height: 4px;
    position: fixed;
    margin-top: 550px;
    margin-left:85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    z-index: 999;
}
.aws{
    width: 7.5vw;
}
.ttlogo{
    height: auto;
    width: 17vw;
    margin-right: 23%;
    
}
.ttimg{
    margin-top: 26px;
    height: 90px;
}
.contactpage{
    height: 100vh;
    background: linear-gradient(0deg, darkblue, black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer{
    background: black;
    height: 4vh;

}
.footerText{
    color: white;
    font-family: Calibri, sans-serif;
    text-align: center;
}
.form{
    width: 40vw;
    height: 60vh;
    margin-top: 6vw;
    margin-left: -45vw;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
}
.textContact{
    background-color: green;
    width: 40vw;
    height: 60vh;
    margin-top: 6vw;
    margin-right: -50vw;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;

}
.text{
    font-family: Calibri, sans-serif;
    text-align: left;
    color: white;
    font-weight: 400; 
    font-size:1.3vw;
}
.heading{
    margin-top: 1%;
    font-family: Calibri, sans-serif;
    text-align: left;
    color: white;
    font-weight: 400; 
    font-size:5vw;
}